body {
    margin: 0;
    padding: 0;
}
.container {
    padding: 0px 0 20px;
}
.posts-container {
    width: 75%;
    margin: 0 auto;
}
.heading {
    padding: 10px 20px;
    background-color: #aaa;
    border-radius: 0.6rem 0.6rem 0 0;
}
.body {
    background-color: #fafafa;
    border-radius: 0;
}
.posts {
    padding: 0;
}
.posts .post {
    list-style: none;
    border-bottom: 1px solid #eee;
}
h2 {
    color: #6d6d6d;
    font-size: 1.7rem;
    margin-top: 0;
}
h6 {
    color: #ccc;
    font-size: 0.9rem;
}
.btn-add {
    color: #fff;
    background: #22b682;
    width: 20%;
}
.btn-delete {
    color: #fff;
    background: #FF6347;
    width: 20%;
}
.btn-cancel {
    color: #fff;
    background: #185aa6;
    width: 20%;
}